@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,400&family=Roboto+Slab:wght@500&display=swap');


home-page{
    text-align: center;
}

.info{
    text-align: center;
    width: 100%;
    margin-left: 1%;
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}


@media all and (min-width: 900px){
    .info{
        text-align: center;
        width: 25%;
        margin-left: 37%;
    }
}