@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,300;1,400&family=Roboto+Slab:wght@500&display=swap');



h1 {
    font-family:'Cormorant Garamond', serif;
    font-size: 56px;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 0;
}

header{
    background-color: rgb(184, 189, 196);
    border: 3px solid rgb(184, 189, 196);
    text-align: center;
    margin: 1%;
    border-radius: 3%;
    
}



header a:link, a:visited{
    text-decoration: none;
    color: rgb(31,30,30);
    text-align: center;
    
}



button {
    font-family: 'Roboto Slab', serif;
    font-size: 20px; 
    background-color: rgb(184, 189, 196);
    border: 1px solid rgb(145, 145, 145);
    border-radius: 5%;
    margin: 1%;
    margin-bottom: 5%;
    margin-top: 0

}

@media all and (min-width: 900px){
    header{
        border-radius: 5px;
        width: 80%;
        margin-left: 10%;
    }
    
    h1{
        width: 80%;
        font-size: 5rem;
        text-align: center;
        margin-left: 10%;
    }

    button{
        font-size: 1.5rem;
    }
}